



body
{

    
    
        background-image: url(./)
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
}



.g
{
    
      
    text-decoration-style: double;
    text-align: center;
    margin-right: 30px;
    font-style: italic; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    box-shadow: azure;
    
    
}

